

.container.infos {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}



.logo {
    /* background-color: red; */
    min-width: 12rem;
}

.container.infos .lft {
    /* max-width: 60%; */
}

.container.infos .lft  > * {
    margin: 10px 0;
}


.container.infos .lft button {
    /* max-width: 50%; */
    color: #5CC4C4;
    border-color: #5CC4C4;
    padding: 5px 10px;
    margin: 10px 0;
}